Django==5.2.7
djangorestframework==3.15.2
django-cors-headers==4.6.0
djangorestframework-simplejwt==5.3.0
psycopg2-binary==2.9.9
channels==4.1.0
drf-yasg==1.21.8
whitenoise==6.8.2
Pillow==10.4.0
gunicorn==22.0.0
daphne==4.1.2
dj-database-url==2.1.0

# Librerías para generación de reportes
WeasyPrint==62.3
openpyxl==3.1.2
reportlab==4.2.2

# Dependencias adicionales para WeasyPrint en Railway
cffi==1.16.0
pycparser==2.21
cairocffi==1.6.1
CairoSVG==2.7.1
